.MuiLinearProgress-colorPrimary {
    background-color: #636363 !important;
}

.MuiLinearProgress-barColorPrimary {
    background-color: #e0e0e0 !important;
}

.loading {
    width: 100%;
    padding-top: 50px;
}